{% extends "base.html" %}
{% block body %}

<!-- content -->
<main class="my-5">
  <div class="container">
    <div class="row">
    <div class="list-group col-3">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Cras justo odio
      </a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in<span class="float-end badge bg-primary rounded-pill">14</span></a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
    </div>
    <div class="list-group col align-self-end ms-2">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.
        </p>
        <small>Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">
          Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
          varius blandit.
        </p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>
    </div>
    <div class="row mt-2" style="margin-left: 21%;">
      <div class="col align-self-end">
        <div class="input-group mt-2">
          <input type="text" class="form-control me-2 ms-5" placeholder="Type Here" aria-label="event_message"
            aria-describedby="send_message" />
            <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
            ><i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    
  </div>
</main>
<!-- end content -->

{% endblock body %}