{% extends "base.html" %}
{% block body %}

<!-- content -->
<main class="my-5">
  <div class="container">
    <div class="card ms-5" style="width: 48rem;">
      <img
        src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ event["name_text"] }}</h5>
        <p class="card-text">
          {{ event["summary"] }}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Starts: {{ event["start_local"] }}  Ends: {{ event["end_local"] }}</li>
        <li class="list-group-item">Event Category: {{ event["category"] }}</li>
        <li class="list-group-item">Mode: {{ "Online" if event["online_event"] else "In Person" }}</li>
      </ul>
      <div class="card-body">
        <a href="/discussions.html?id={{ event['item_id'] }}" class="btn btn-primary m-0" role="button" rel="nofollow">
            Go to Events Forum
        </a>
        {% if not joined %}
        <a onclick="join_event('{{ event['item_id'] }}', '{{ data['user_data']['user_id'] }}')" class="btn btn-primary m-0" role="button" rel="nofollow">
          Join Event
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
<!-- end content -->
{% endblock body %}