{% extends "base.html" %}
{% block body %}
  <!--Main layout-->
  <!--Main layout-->
  <main class="my-5 py-5">
    <div class="container">
      <!--Section: Content-->
      <h5 class="card-title" id="welcome_card"></h5>
      <div class="card border border-secondary shadow-0 mb-3 col-md-12">
        <div class="card-header">   
          Explore New Events
          <button type="button" class="btn btn-info float-end"><i class="fas fa-angle-right"></i></button>
        </div>
        <div class="card-body text-secondary">
          <div class="">
            <div class="row row-cols-1 row-cols-md-2 g-4">
              {% for event in data["random_events"] %}
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                  <a onclick="view_event('{{ event['item_id'] }}')">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ event["name_text"] }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ event["summary"] }}</h6>
                  <a onclick="view_event('{{ event['item_id'] }}')" class="btn btn-primary">More</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      </div>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->
  <!--Main layout-->
  {% endblock body %}

  {% block script %}
    $(function () {
      if(document.cookie) {
        window.location.href = "/home.html"
      }
    });
  {% endblock script %}